<section style="background-color: black; padding-top: 4rem; padding-bottom: 6rem;"> 
    <div class="container">
     <div class="row">
         <div class="col-md-2">
           <h2 style="color: white; font-size: 1.6rem; font-weight: bolder;">TECH</h2>
          <h2 style="color: white; font-size: 1.6rem;font-weight: bolder;">W<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-lightning-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z"/>
          </svg>ll</h2>
          <h2 style="color: white; font-size: 1.6rem;font-weight: bolder;">SAVE</h2>
          <h2 style="color: white; font-size: 1.6rem;font-weight: bolder;">US</h2>

         </div>
         
         <div class="col-md-8">
          <h3 style="color: grey; font-weight: bold; padding-left: 39px;">Make</h3>
          <hr style="background-color: #fff; ">
          <div class="row">
          <div class="col-md-4">
          <ul>
          <li><a style="color: #fff;" href="">Creative Coder Kit</a></li>
          <li><a style="color: #fff;" href="">Electro Dough Kit</a></li>
          <li><a style="color: #fff;" href="">Electro Dough Fantasy Kit</a></li>
          <li><a style="color: #fff;" href="">Electro Dough Project Kit</a></li>
          <li><a style="color: #fff;" href="">Electro Dough Story Kit</a></li>
          <li> <a style="color: #fff;" href="">Electro Guitar Kit</a></li>
          <li><a style="color: #fff;" href="">Electro Hero Kit</a></li>
          <li><a style="color: #fff;" href="">Soldered Gamer Kit</a></li>
          <li><a style="color: #fff;" href="">Unsoldered Gamer Kit</a></li>
          <li><a style="color: #fff;" href="">Gamer Design Club</a></li>
          <li><a style="color: #fff;" href="">Light Racer Club</a></li>
          <li><a style="color: #fff;" href="">BBC Mirco:Bit</a></li>
          </ul>
          </div>
          <div class="col-md-4">
              <ul>
                <li><a style="color: #fff;" href="">mirco:bot</a></li>
                <li><a style="color: #fff;" href="">mirco:craft</a></li>
                <li><a style="color: #fff;" href="">mirco:mods</a></li>
                <li><a style="color: #fff;" href="">Mover Kit</a></li>
                <li><a style="color: #fff;" href="">Record + Remix Kit</a></li>
                <li><a style="color: #fff;" href="">Sew & Glow Kit</a></li>
                <li><a style="color: #fff;" href="">Speaker Kit</a></li>
                <li><a style="color: #fff;" href="">Start Audrino Kit</a></li>
                <li><a style="color: #fff;" href="">Synth Kit</a></li>
                <li><a style="color: #fff;" href="">Synth Wave Kit</a></li>
                <li><a style="color: #fff;" href="">Thirsty Plant Kit</a></li>
              </ul>
        </div>
    </div>
         </div>
    
         <div class="col-md-2">
            <h3 style="color: grey; font-weight: bold; padding-left: 39px;">Home</h3>
            <hr style="background-color: #fff;">
            <ul>
                <li><a style="color: #fff;" href="">Shop</a></li>
                <li><a style="color: #fff;" href="">Education</a></li>
                <li><a style="color: #fff;" href="">Privacy</a></li>
                <li><a style="color: #fff;" href="">Cookies</a></li>
                <li><a style="color: #fff;" href="">Blog</a></li>
                <li><a style="color: #fff;" href="">About Us</a></li>
                <li><a style="color: #fff;" href="">Terms & Condition</a></li>
            </ul>
         </div>
     </div>
    </div>
</section>





 