<body>
  

<app-header></app-header>
<div class="container" style="max-width: inherit;">
<div class="row first">
<div class="center">
    <h3 style=" font-weight: normal; font-size: 2rem; text-align: center; padding-top: 3rem;">Welocme To</h3>
    <h1 style="font-weight: bolder; text-align: center; color:rgb(0, 120, 255); font-size: 5rem;">CLUB MAKE</h1>
    <h4 style="font-weight: lighter; text-align: center;">Fun, hands-on activities, projects and challenges to do at home! Already got a kit?</h4>
    <button type="button" class="btn btn-light" style="border-radius: 26px; padding: 14px; margin-left: 14rem;">Start Here!</button>
</div>
</div>
</div>

<!-- what is club game section -->

<section style="background-color: #fff; height: 28rem; ">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="https://make.techwillsaveus.com/images/what-is-club-make-xl.jpg" style="width:100%;" class="mt-5" alt="">
      </div>
      <div class="col-md-5">
      <h1 class="mt-5" style="color: #5032b4; font-weight: bold;">What is Club Make?</h1>
      <h4 style="font-weight: lighter; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Club Make is a fun and creative community of like minded makers. Packed with hands-on projects, interactive tutorials and challenges, there’s something for everyone.</h4>
      <h4 style="font-weight: lighter; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Ready, Set, Make!</h4>
    </div> 
      
    </div>
  </div>
  </section>

<section style="background-color: #dcd5ff; height: 22rem; ">
<div class="container">
  <div class="row">
    <div class="col-md-7">
    <h1 class="mt-5" style="color: #5032b4; font-weight: bold;">New</h1>
    <h1 style="color: #5032b4; font-weight: bold;">Games Designer Club</h1>
    <h4 style="font-weight: lighter; font-family: monospace;">A creative hub packed with fun hands-on projects that build your skills in design, coding and much much more. Perfect for doing at home on your own or with all the family.</h4>
    <p><button style="background-color: #5032b4; color: white; border-radius: 40px;">Find Out More</button></p>
  </div> 
    <div class="col-md-5">
      <img src="https://make.techwillsaveus.com/images/games-designer-club-banner-xl.jpg" style="width:100%;" class="mt-5" alt="">
    </div>
  </div>
</div>
</section>


<section style="background-color: #eff3fc; padding-bottom: 7rem;"> 
    <div class="container">

      <!-- age 4-6 -->

    <h1 class="text-center strong " style="color: red; font-weight: bolder; padding-top: 5rem;">Age 4-6</h1>
    <h5 class="text-center" style="font-weight: normal; border-width: medium; font-family:  sans-serif">Engage with technology through fun hands-on play and exploration. Introduce kids to essential STEM skills and build confidence along the way. Take a peek at a few featured ones below.
    </h5>


    <div class="card-group mt-5">
      <div class="card mr-3 hello">
        <img class="card-img-top" src="https://make-cdn.techwillsaveus.com/images/079-1573728735417.jpg" alt="Card image cap">
        <div class="card-body">
           <h5 style="font-weight: lighter;">Medium</h5>
          <h4 class="card-title">Operation Game</h4>
          <p><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart" fill="red" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
           </svg>   4            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clock" fill="blue" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z"/>
              <path fill-rule="evenodd" d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
            </svg>     10min</p>
        </div>
        <div class="card-footer" style="background-color: crimson;">
         <h5 style="color: white;">Electro Dough Project Kit</h5>
        </div>
      </div>
        <div class="card mr-3">
          <img class="card-img-top" src="https://make-cdn.techwillsaveus.com/images/011-1572367914817.jpg" alt="Card image cap">
          <div class="card-body">
             <h5 style="font-weight: lighter;">Easy</h5>
            <h4 class="card-title">Make A Robot</h4>
            <p><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart" fill="red" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
             </svg>   2            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clock" fill="blue" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z"/>
                <path fill-rule="evenodd" d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
              </svg>     30min</p>
          </div>
          <div class="card-footer" style="background-color: orange;">
           <h5 style="color: white;">Electro Dough Story Kit</h5>
          </div>
        </div>
        <div class="card mr-3">
          <img class="card-img-top" src="https://make-cdn.techwillsaveus.com/images/CUSTO_001_01_X1_0022-1574338911021.jpg" alt="Card image cap">
          <div class="card-body">
             <h5 style="font-weight: lighter;">Easy</h5>
            <h4 class="card-title">Make Your Own Castle Story</h4>
            <p><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart" fill="red" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
             </svg>   2            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clock" fill="blue" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z"/>
                <path fill-rule="evenodd" d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
              </svg>     30min</p>
          </div>
          <div class="card-footer" style="background-color: crimson;">
           <h5 style="color: white;">Electro Dough Story Kit</h5>
          </div>
        </div>
        <div class="card mr-3">
          <img class="card-img-top" src="https://make-cdn.techwillsaveus.com/images/main-1481056752021.jpg" alt="Card image cap">
          <div class="card-body">
             <h5 style="font-weight: lighter;">Medium</h5>
            <h4 class="card-title">Electro Football</h4>
            <p><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart" fill="red" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
             </svg>   18            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clock" fill="blue" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z"/>
                <path fill-rule="evenodd" d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
              </svg>     30min</p>
          </div>
          <div class="card-footer" style="background-color: orange">
           <h5 style="color: white;">Electro Dough Kit</h5>
          </div>
        </div>
      </div>


    <!-- age 7-10 -->

      <h1 class="text-center strong" style="color: blue; padding-top: 7rem;">Age 7-10</h1>
      <h4 class="text-center" style="font-weight: lighter; border-width: medium;">Projects to master complex skills through experimentation and repetition. Explore a wide range of themes such as music, energy and fashion tech. Check out a few favourites below.
      </h4>
  
  
      <div class="card-group mt-5">
        <div class="card mr-3 rounded">
          <img class="card-img-top" src="https://make-cdn.techwillsaveus.com/images/MVIcover-1532710045594.jpg" alt="Card image cap">
          <div class="card-body">
             <h5 style="font-weight: lighter;">Easy</h5>
            <h4 class="card-title">Theremin</h4>
            <p><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart" fill="red" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
             </svg>   13            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clock" fill="blue" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z"/>
                <path fill-rule="evenodd" d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
              </svg>     15min</p>
          </div>
          <div class="card-footer" style="background-color: green;">
           <h5 style="color: white;">Light Racer Kit</h5>
          </div>
        </div>
          <div class="card mr-3">
            <img class="card-img-top" src="https://make-cdn.techwillsaveus.com/images/0019-1535718364379.jpg" alt="Card image cap">
            <div class="card-body">
               <h5 style="font-weight: lighter;">Hard</h5>
              <h4 class="card-title">Make A Light Up T-Shirt</h4>
              <p><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart" fill="red" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
               </svg>   2            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clock" fill="blue" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z"/>
                  <path fill-rule="evenodd" d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
                </svg>     15min</p>
            </div>
            <div class="card-footer" style="background-color: burlywood;">
             <h5 style="color: white;">Sew & Glow Kit</h5>
            </div>
          </div>
          <div class="card mr-3">
            <img class="card-img-top" src="https://make-cdn.techwillsaveus.com/images/cover-1489681430818.jpg" alt="Card image cap">
            <div class="card-body">
               <h5 style="font-weight: lighter;">Easy</h5>
              <h4 class="card-title">Hot Potato</h4>
              <p><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart" fill="red" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
               </svg>   128            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clock" fill="blue" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z"/>
                  <path fill-rule="evenodd" d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
                </svg>     5min</p>
            </div>
            <div class="card-footer" style="background-color: purple;">
             <h5 style="color: white;">Creative Coder Kit</h5>
            </div>
          </div>
          <div class="card mr-3">
            <img class="card-img-top" src="https://make-cdn.techwillsaveus.com/images/ww-1481212820692.jpg" alt="Card image cap">
            <div class="card-body">
               <h5 style="font-weight: lighter;">Hard</h5>
              <h4 class="card-title">Twiting Thristy Plant</h4>
              <p><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart" fill="red" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
               </svg>   16            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clock" fill="blue" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z"/>
                  <path fill-rule="evenodd" d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
                </svg>     1 hr</p>
            </div>
            <div class="card-footer" style="background-color: orange">
             <h5 style="color: white;">Thirsty Plant Kit</h5>
            </div>
          </div>
        </div>



        <!-- age 11+ -->


        <h1 class="text-center strong" style="color: blue;  padding-top: 7rem;">Age 11+</h1>
        <h4 class="text-center" style="font-weight: lighter; border-width: medium;">Advanced projects that help kids apply their new skills, creating innovative solutions to real world problems. Produce a song, design a game or even create your very own AI buddy.
        </h4>
    
    
        <div class="card-group mt-5">
          <div class="card mr-3 rounded">
            <img class="card-img-top" src="https://make-cdn.techwillsaveus.com/images/113-1576246492612-1576679070245.jpg" alt="Card image cap">
            <div class="card-body">
               <h5 style="font-weight: lighter;">Easy</h5>
              <h4 class="card-title">Build Your AI Buddy</h4>
              <p><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart" fill="red" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
               </svg>   5            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clock" fill="blue" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z"/>
                  <path fill-rule="evenodd" d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
                </svg>     20min</p>
            </div>
            <div class="card-footer" style="background-color: green;">
             <h5 style="color: white;">Future Inventor Club-AI</h5>
            </div>
          </div>
            <div class="card mr-3">
              <img class="card-img-top" src="https://make-cdn.techwillsaveus.com/images/simon-1481825358609-1494944343442.jpg" alt="Card image cap">
              <div class="card-body">
                 <h5 style="font-weight: lighter;">Medium</h5>
                <h4 class="card-title">Code Club Simon Says</h4>
                <p><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart" fill="red" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                 </svg>   7            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clock" fill="blue" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z"/>
                    <path fill-rule="evenodd" d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
                  </svg>     1 hr 40min</p>
              </div>
              <div class="card-footer" style="background-color: burlywood;">
               <h5 style="color: white;">Unsoldered Gamer Kit</h5>
              </div>
            </div>
            <div class="card mr-3">
              <img class="card-img-top" src="https://make-cdn.techwillsaveus.com/images/303_SYNTH_6-1466000032006.jpg" alt="Card image cap">
              <div class="card-body">
                 <h5 style="font-weight: lighter;">Easy</h5>
                <h4 class="card-title">Synth Graphite 303</h4>
                <p><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart" fill="red" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                 </svg>   46            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clock" fill="blue" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z"/>
                    <path fill-rule="evenodd" d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
                  </svg>     10min</p>
              </div>
              <div class="card-footer" style="background-color: greenyellow;">
               <h5 style="color: white;">Synth Kit</h5>
              </div>
            </div>
            <div class="card mr-3">
              <img class="card-img-top" src="https://make-cdn.techwillsaveus.com/images/fruit-1458653188553.jpg" alt="Card image cap">
              <div class="card-body">
                 <h5 style="font-weight: lighter;">Easy</h5>
                <h4 class="card-title">Touch Arpeggiator</h4>
                <p><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart" fill="red" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                 </svg>   346            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clock" fill="blue" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z"/>
                    <path fill-rule="evenodd" d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
                  </svg>     20min</p>
              </div>
              <div class="card-footer" style="background-color: blueviolet">
               <h5 style="color: white;">BBC Micro: Bit</h5>
              </div>
            </div>
          </div>
    </div>
</section>


<!-- share stuff -->
<section class="m5-5" style="background-color: #0078ff; padding-bottom: 7rem;">
<div class="container ">
  <h1 class="text-center" style="font-weight: bolder; color: #ffd200; padding-top: 2rem;">Share  safely ,  inspire  others  and  be   inspired</h1>
  <h5 class="text-center" style="font-weight: normal; color: white; margin-top: 1rem; padding-bottom: 1rem;">Share all the awesome stuff you create at home with us and with your maker buddies.</h5>


  <div class="row">
 <div class="col-md-3">
  <div class="card mr-3" style="height: 360px; border-radius: 20px;">
    <img class="card-img-top" style="height: 240px; transform-style: preserve-3d;border-radius: 20px;" src="https://make-cdn.techwillsaveus.com/shares/abjb6c/1589587342053.jpg" alt="Card image cap">
    <div class="card-body">
       <h6 style="font-weight: normal; color: #5032b4;">Moras</h6>
      <h4 class="card-title" style="font-size: 22px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">May The Force Be With You</h4>
    </div>
  </div>
</div>


<div class="col-md-3">
  <div class="card mr-3" style="height: 360px;border-radius: 20px;">
    <img class="card-img-top" style="height: 240px;border-radius: 20px;" src="https://make-cdn.techwillsaveus.com/shares/j1rie1/1588759052345.jpg" alt="Card image cap">
    <div class="card-body">
       <h6 style="font-weight: normal; color: #5032b4;">CCMAKES</h6>
      <h4 class="card-title" style="font-size: 22px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Walking Pixel Man</h4>
    </div>
  </div>
</div>

<div class="col-md-3">
  <div class="card mr-3" style="height: 360px;border-radius: 20px;">
    <img class="card-img-top" style="height: 240px;border-radius: 20px;" src="https://make-cdn.techwillsaveus.com/shares/cmvcn7/1588080049983.jpg" alt="Card image cap">
    <div class="card-body">
       <h6 style="font-weight: normal; color: #5032b4;">SUPERFISHFINGER</h6>
      <h4 class="card-title" style="font-size: 22px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Jump Man</h4>
    </div>
  </div>
</div>

<div class="col-md-3">
  <div class="card mr-3" style="height: 360px; border-radius: 20px;">
    <img class="card-img-top" style="height: 240px; border-radius: 20px;" src="https://make-cdn.techwillsaveus.com/shares/u1s662/1588005091832.jpg" alt="Card image cap">
    <div class="card-body">
       <h6 style="font-weight: normal; color: #5032b4;">ARTHUR1234</h6>
      <h4 class="card-title" style="font-size: 22px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Hat-Bot</h4>
    </div>
  </div>
</div>

</div>

<div class="row mt-5">

  <div class="col-md-3">
    <div class="card mr-3" style="height: 360px;border-radius: 20px;">
      <img class="card-img-top" style="height: 240px;border-radius: 20px;" src="https://make-cdn.techwillsaveus.com/shares/wzcfw6/1581860662973.jpg" alt="Card image cap">
      <div class="card-body">
         <h6 style="font-weight: normal; color: #5032b4;">PRINCESSMARTHA</h6>
        <h4 class="card-title" style="font-size: 22px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">(Vulture)</h4>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card mr-3" style="height: 360px;border-radius: 20px;">
      <img class="card-img-top" style="height: 240px;border-radius: 20px;" src="https://make-cdn.techwillsaveus.com/shares/i813gw/1577263179604.jpg" alt="Card image cap">
      <div class="card-body">
         <h6 style="font-weight: normal; color: #5032b4;">SAMTHESCIENTIST</h6>
        <h4 class="card-title" style="font-size: 22px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Sam The Scientist</h4>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card mr-3" style="height: 360px;border-radius: 20px;">
      <img class="card-img-top" style="height: 240px;border-radius: 20px;" src="https://make-cdn.techwillsaveus.com/shares/ocs97u/1569065845973.jpg" alt="Card image cap">
      <div class="card-body">
         <h6 style="font-weight: normal; color: #5032b4;">GRACIEGRU</h6>
        <h4 class="card-title" style="font-size: 22px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Unicorn Overload</h4>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card mr-3" style="height: 360px;border-radius: 20px;">
      <img class="card-img-top" style="height: 240px;border-radius: 20px;" src="https://make-cdn.techwillsaveus.com/shares/rix5p8/1543707085274.jpg" alt="Card image cap">
      <div class="card-body" style="background-color: #fff;">
         <h6 style="font-weight: normal; color: #5032b4;">ADRIENB</h6>
        <h4 class="card-title" style="font-size: 22px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Snake Game</h4>
      </div>
    </div>
  </div>

</div>
</div>
</section>


<div class="row" style="background-color: #fff; height: 4rem;">
  <h2 style="color: #5a6175; font-size: 1.75rem; font-family: 'Courier New', Courier, monospace; margin-left: 12rem; margin-top: 1rem; font-weight: bold;">Don't have a kit yet? Head over to our shop and get started</h2>
</div>

<!-- shop now section -->
<section style="background-color: #ffe428; height: 22rem;">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
      <h1 class="mt-5" style="color: #5032b4; font-weight: bolder;">KIDS ARE SAMRT, THEIR</h1>
      <h1 style="color: #5032b4; font-weight: bolder;">TOYS SHOULD BE TOO</h1>
      <h4 style="font-weight: lighter;">Our 21st century kits combine the wonder of play with making and coding</h4>
      <button type="button" class="btn btn-light" style="border-radius: 26px; padding: 14px;">Shop Now!</button>
    </div> 
      <div class="col-md-5">
        <img src="https://make.techwillsaveus.com/images/kits/all.jpg" style="width:100%;" class="mt-5" alt="">
      </div>
    </div>
  </div>
</section>


<!-- footer section -->
<app-footer></app-footer>
</body>